*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.App h1{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background: rgb(255, 119, 119);
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}